

.chosen-valueAddress, .value-listAddress {
    position: relative;
    width: 100%;
    z-index: 1;
}
.chosen-valueAddress:focus, .chosen-valueAddress.open {
	 box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
	 outline: 0;
	 color: #000;
}
.value-listAddress {
	 list-style: none;
	 margin-top: 1.5rem;
	 box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
	 overflow: hidden;
	 max-height: 0;
	 transition: 0.3s ease-in-out;
}
.value-listAddress.open {
	 max-height: 320px;
	 overflow: auto;
     padding: 0px 0px 0px 0px;
     margin-top: 10px;
     z-index: 3;
}
.value-listAddress li {
	 position: relative;
	 height: 2rem;
	 background-color: #fafcfd;
	 padding: 0.5rem;
	 font-size: 1.1rem;
	 display: flex;
	 align-items: center;
	 cursor: pointer;
	 transition: background-color 0.3s;
	 opacity: 1;
}
.value-listAddress li:hover {
	 background-color: #215cc9;
     color: #fff;
}
.value-listAddress li.closed {
	 max-height: 0;
	 overflow: hidden;
	 padding: 0;
	 opacity: 0;
}
.value-listAddress li.hover{
	background-color: #215cc9;
	color: #fff;
}



 .chosen-valueCity, .value-listCity {
    position: relative ;
    width: 100% ;
    z-index: 1 ;
}

.chosen-valueCity:focus, .chosen-valueCity.open {
	 box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2) ;
	 outline: 0 ;
	 color: #000 ;
}
.value-listCity {
	 list-style: none ;
	 margin-top: 1.5rem ;
	 box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2) ;
	 overflow: hidden ;
	 max-height: 0 ;
	 transition: 0.3s ease-in-out ;
}
.value-listCity.open {
	 max-height: 320px ;
	 overflow: auto ;
     padding: 0px 0px 0px 0px ;
     margin-top: 10px ;
}
.value-listCity li {
	 position: relative ;
	 height: 2rem ;
	 background-color: #fafcfd ;
	 padding: 0.5rem ;
	 font-size: 1.1rem ;
	 display: flex ;
	 align-items: center ;
	 cursor: pointer ;
	 transition: background-color 0.3s ;
	 opacity: 1 ;
}
#listCity li:hover {
	 background-color: #215cc9 ;
     color: #fff ;
}
#listCity li.closed {
	 max-height: 0 ;
	 overflow: hidden ;
	 padding: 0 ;
	 opacity: 0 ;
}

.value-listCity li.hover{
	background-color: #215cc9;
	color: #fff;
}



#error_city , #error_address , #error_cp{
	color: #af3b4e;
	margin-left: 10px;
}



.divCp{
	position: relative;
	min-width: 170px;
}


.form-control-error{
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	border-color: #af3b4e;
}


#error-icon-address, #error-icon-city, #error-icon-cp{
	display: none;
	top: 10%;
	left: 100%;
	min-width: 30px;
	width: 30px;
	height: 30px;
	background-color: #ffffff;
	border-radius: 50%;
	border: 1px solid #af3b4e;
	align-items: center;
	justify-content: center;
	color: #af3b4e;
	font-weight: bold;
	font-size: 18px;
}
  
